


 {% block metadata %}
           <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock metadata %}
{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    
    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="section-login">
    <div class="bloc-login">
        <div class="header-login"><img class="header-logo" src="/images/logo.svg" alt=""></div>
        <div class="bloc-login-content">
            <div class="input-bloc">
                <label class="login-label" for="inputUsername">Utilisateur</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            </div>
            <div class="input-bloc"> 
                <label class="login-label" for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <div class="input-bloc-btn">
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </div>
    
    </div>
    </div>
  

    
</form>
{% endblock %}
