{% extends "base.html.twig" %}

{% block body %}

<section class="front-section" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.568)), url(/images/products/{{ header.background }});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
       
    
        <p class="title-page bold">LA CARTE</p>
    </section>


    <section class="block-btn bold">
        <ul>
            {% for category in categories %}
                <li><a href="#{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </section>


    {% for i, category in categories %}
    {% if category.dishes is not empty %}

      {% if i == categories|length-1 %} 
        <section class="carte-section last-item" id="{{category.name}}">
      {% else %}
        <section class="carte-section" id="{{category.name}}">
        {% endif %}
                <div class="carte-header">
                    <p class="carte-header-title bold title">{{ category.title|upper }}</p>
                </div>
                <div class="carte-content">

                    {% for dishe in category.dishes %}
                        <div class="carte-item">
                        {% if dishe.picture %} 
                            <img src="/images/products/{{dishe.picture}}" alt="{{dishe.pictureDesc}}">
                        {% else %}
                            <div class="img-placeholder"> </div>
                        {% endif %}
                            <div class="carte-item-content">
                                <div class="carte-item-header bold">
                                    <div class="carte-item-title subtitle">{{dishe.name}}</div>
                                    <div class="carte-item-price"> {{dishe.price}}€</div>
                                </div>
                                <div class="carte-item-desc dark-grey">{{dishe.description|raw}}</div>
                            </div>
                        </div>
                    {% endfor %}

                    

                </div>
            </section>
            {% endif %}
    {% endfor %}

{% endblock %}