{% extends "base.html.twig" %}

{% block body %}
 <section class="front-section" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.568)), url(/images/products/{{ header.background }});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
       
    
        <p class="title-page bold">CALENDRIER</p>
    </section>

    <section class="event-section">
        <div class="carte-content">


            {% for event in events %}
                <div class="carte-item">
                    <img src="/images/products/{{event.picture}}" alt="{{event.pictureDesc}}">
                    <div class="carte-item-content">
                        <div class="carte-item-header bold">
                            <div class="carte-item-title subtitle">{{event.name}}</div>
                            <div class="carte-item-price">{{event.date}}</div>
                        </div>
                        <div class="carte-item-desc dark-grey">{{event.description|raw}}</div>
                        {% if event.menu %}
                        <div class="show-menu-bloc"><button id="myBtn{{event.id}}" class="btn-show-menu">Voir le Menu</button></div>

                            <div id="myModal{{event.id}}" class="modal">

                            <div class="modal-content">
                            <div class="modal-close">
                                <span id="close{{event.id}}" class="close">&times;</span>
                            </div>
                                <img src="/images/products/{{event.menu}}" >
                            </div>

                            </div>
                            <script>
                                var modal{{event.id}} = document.getElementById('myModal{{event.id}}');

                                var btn{{event.id}} = document.getElementById("myBtn{{event.id}}");

                                var span{{event.id}} = document.getElementById("close{{event.id}}");

                                btn{{event.id}}.onclick = function() {
                                modal{{event.id}}.style.display = "block";
                                }

                                span{{event.id}}.onclick = function() {
                                modal{{event.id}}.style.display = "none";
                                }

                                window.onclick = function(event) {
                                if (event.target == modal{{event.id}}) {
                                    modal{{event.id}}.style.display = "none";
                                }
                                }
                            </script>
                        {% endif %}
                        
                    
                    </div>
                </div>
            {% endfor %}

            
        </div>

    </section>
    
{% endblock %}