<section class="coord-section">

        <div class="coord-item">
            <div class="coord-img mail-img"></div>
            <div class="coord-content">
                <p class="coord-title bold subtitle white">Email</p>
                <p class="coord-text white">{{ contact.email }}</p>
            </div>
        </div>

        <div class="coord-item">
            <div class="coord-img tel-img"></div>
            <div class="coord-content">
                <p class="coord-title bold subtitle white">Téléphone</p>
                <p class="coord-text white">{{ contact.phone }}</p>
            </div>
        </div>

        <div class="coord-item">
            <div class="coord-img address-img"></div>
            <div class="coord-content">
                <p class="coord-title bold subtitle white">Adresse</p>
                <p class="coord-text white">{{ contact.address}}</p>
            </div>
        </div>

    </section>
<footer>
        <div class="footer-content white">
            <div class="time-block">
                <p class="time-title footer-title white">HORRAIRE D'OUVERTURE</p>
                {% for time in timetable %}
                <p>{{ time.day }} : {{ time.time }}</p>
                {% endfor %}
           
            </div>
            <div class="nav-footer">
                <p class="nav-footer-title footer-title white">PLAN DU SITE</p>
                <ul class="white">
                    <li><a href="/index.html">Accueil</a></li>
                    <li><a href="/carte.html">La carte</a></li>
                    <li><a href="#">Calendrier</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="white">2021 L'Occitan, Restaurant - Bar</p>
        </div>
        

    </footer>